
<h1>Friends</h1>

<div id="friends">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Hobby</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <%= render friend %>
      <% end %>
  </tbody>
</table>

</div>

<%= link_to "New friend", new_friend_path, class:"btn btn-success" %>
